/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

img {
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p,
span {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;;
}

ul,
li,
a {
    font-family: 'Open Sans', sans-serif;
}

.btn-cyan-blue {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(176, 68%, 64%);
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
    border-radius: 100px;
    color: #ffffff;
    font-size: 4vw;
    padding: 3.5vw 0;
    width: 64.5 vw;
    font-weight: 700;
    text-align: center;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.1);
    display: block;
}

 
/* Page Content */

.container {
    max-width: 720px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "main"
        "footer";
    grid-row-gap: 10px;
}

/* Header and Navigation */
header {
    width: 100vw;
    padding-bottom: 1px;;
}

header nav {
    width: 100%;
    height: 19vw;
    padding: 2vw 8vw;
}

.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color :hsl(216, 53%, 9%);
    background-image: url(../images/bg-curvy-mobile.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 182vw;
    padding-bottom: 1px;
    z-index: -1;
    
}
header img.intro,
header h1, 
header p  {
    width: 81vw;
    margin: 9vw auto 0 auto;
}
header h1,
header p {
    text-align: center;
    line-height: 1.5;
}

header p {
    margin-top: 30px;
    margin-bottom: 30px;
}

header a {
    margin: 9vw auto;
}
.btn-cyan-blue {
    font-family: "Open Sans", sans-serif;
    background-color: hsl(189, 54%, 54%);
    background-image: linear-gradient(to right, hsl(189, 54%, 54%) 0%, hsl(198, 60%, 50%) 100%);
    border-radius: 100px;
    color: white;
    font-size: 4w;
    padding: 3.5vw 0;
    width: 65vw;
    text-align: center;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.1);
    display: block;
}

/* Navbar using flexbox */
.navbar {
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.main_nav {
    list-style-type: none;
    display: none;
}

.main_nav li {
    text-align: right;
    margin: 15px auto;
   
}

span .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav_links a {
    text-decoration: none;
    color: white;
}

.nav_links a:hover,
.nav_links a:focus {
    color: hsl(198, 60%, 50%);
}

/* Toggle Button */
.navbar-toggle {
    position: absolute;
    top: 10px;
    left: 82vw;
    padding: 2vw 0;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

/* Features Sections */
section.main_features {
    width: 100%;
    display: grid;
    padding: 6.9vw;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "access"
        "security"
        "collab"
        "any-file"
        "prod-img"
        "prod-copy";
    grid-row-gap: 10px;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

section.main_features  img {
    width: 24vw;
    margin: 0 auto;
}

section.main_features .feature1 {
    grid-row: 1;
    grid-column: 1;
    grid-area: access;
}

section.main_features .feature2 {
    grid-row: 2;
    grid-column: 1;
    grid-area: security;
}

section.main_features .feature3 {
    grid-row: 3;
    grid-column: 1;
    grid-area: collab;
}

section.main_features .feature4 {
    grid-row: 4;
    grid-column: 1;
    grid-area: any-file;
}

section.main_features .feature5 {
    grid-row: 5;
    grid-column: 1;
    grid-area: prod-img;
}

section.main_features .feature6 {
    grid-row: 6;
    grid-column: 1;
    grid-area: prod-copy;

}

section.main_features .second-feature {
    align-self: center;
    margin: 0;
    text-align: left;
}

section.main_features .second-feature h3,section.main_features .second-feature p,
section.main_features .second-feature a {
    text-align: left;
}

section.main_features .second-feature a {
    text-decoration: underline;
    color: hsl(189, 54%, 54%);
    font-size: 3vw;
    padding-right: 6vw;
    background-image: url(../images/icon-arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

section.main_features .second-feature img {
    width: 100%;
}

/* Testimonials */

section.testimonials {
    position: relative;
    width: 100%;
    display: grid;
    padding: 8vw;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "quote_a"
        "quote_b"
        "quote_c";
    grid-row-gap: 10vw;
}

section.testimonials .quotemark {
    position: absolute;
    left: 10vw;
    top: .5vw;
    width: 10vw;
}

.testimonial {
    background-color: hsl(219, 30%, 18%);
    border-radius: 20px;
    /*box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.1);
    background-color: #202a3c;*/
    padding: 8vw;
    flex: 1;
    /*box-shadow: 5px 5px 5px 3px hsl(219, 30%, 18%);*/
}

.testimonial img {
    width: 6vw;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
}

.testimonial p {
    text-align: left;
}

.team1 {
    grid-row: 1;
    grid-column: 1;
    grid-area: quote_a;
}

.team2 {
    grid-row: 2;
    grid-column: 1;
    grid-area: quote_b;
}

.team3 {
    grid-row: 3;
    grid-column: 1;
    grid-area: quote_c;
}

.profile {
    display: grid;
    justify-content: start;
    align-items: center;
    text-align: left;
    grid-template-columns: 6.4vw 44vw;
    grid-template-areas: "tm-pic tm-name" "tm-pic tm-role";
    grid-row-gap: .5vw;
    column-gap: 3vw;
    color: white;
}

.profile .team_member {
    grid-row: 1;
    grid-column: 2;
    grid-area: tm-name;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.profile .job_title {
    grid-row: 2;
    grid-column: 2;
    grid-area: tm-role;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

.profile .profile_image {
    grid-row: 1;
    grid-column: 1;
    grid-area: tm-pic;
}

/* Contact Form */

.contact_form {
    width: 93vw;
    margin-left: 50vw;
    position: absolute;
    left: -46.8vw;
    text-align: center;
    padding: 4vw;
    z-index: 999;
    background-color: hsl(217, 28%, 15%);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.1);
}

.contact_form p {
   margin: 30px 40px;
}

.contact_form input[type=submit],
.contact_form input[type=text] {
    border-radius: 200px;
    width: 70vw;
    height: 13vw;
    display: block;
    margin: 0 auto 4vw auto;
    border: 0;
}

.contact_form input[type=text] {
    font-family: "Open Sans", sans-serif;
    font-size: 3vw;
    padding-left: 6vw;
    color: gray;
    border: none;
}

.contact_form input[type=text]:focus {
    border: none;
    outline: none;
}

/* Footer */

footer {
    width: 100vw;
    height: 250vw;
    background-color: hsl(216, 53%, 9%);
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    padding: 62vw 5vw 12.8vw 5vw;
    margin: 32vw auto 0 auto;
}

footer .footer_columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer a {
    text-decoration: : none;
    color: white;
}

footer ul {
    list-style-type: none;
    font-size: 4.3vw;
    margin-bottom: 0;
    padding-left: 0;
}