@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black !important;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', cursive;
    color: white;
}
main{
    background-color: hsl(218, 28%, 13%);
}


/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: hsl(217, 28%, 15%);
}
header #logo {
    margin-left: 40px;
}

#logo img {
    width: 70%;
}
nav {
    text-align: center;
}
nav ul {
    display:inline-block;
    list-style: none;
}
nav li {
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

nav li a {
    color: white;
}

nav li + li {
    margin-left: 50px;
    margin-right: 30px;
}

/* Hero */
section #hero {
    background-color: hsl(217, 28%, 15%);
    display: flex;
   
}

#hero_photo {
    
}




/* Footer Styles */
footer {
    background-color: hsl(216, 53%, 9%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}