/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}

body {
    background-color: hsl(218, 28%, 13%);
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, 
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p,
span,
ul,
li,
a {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    max-width: 719px;
    margin: 0 auto;
    padding: 0 auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

main {
    background-color: hsl(218, 28%, 13%);
}

/* Navbar Styling */

.navbar {
    width: 100%;
    height: 20vw;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 11px;
}

.mobile-nav {
    list-style-type: none;
    display: none;
}

.nav-links, 
.logo {
    text-decoration: none;
}

.mobile-nav li {
    text-align: right;
    margin: 15px auto;
    padding-right: 30px;
}

.mobile-nav a {
    color: white;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
    .logo:hover, 
    .nav-links:hover {
        color: rgb(0, 153, 255);
    }

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

/* Header Styles */

header {
    width: 100vw;
    padding-bottom: 1px;
}

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-mobile.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
    background-image: url(../images/bg-curvy-mobile.svg), , -webkit-gradient(linear, left top, left bottom, color-stop(68%, #1c2431), color-stop(68%, #181f2b));
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 181.65vw;
    padding-bottom: 1px;
    z-index: -1;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro_image {
    width: 81.333vw;
    margin: 9vw auto 0 auto;
}
.intro h1 {
    font-size: 6.4vw;
    width: 60%;
    text-align: center;
}
.intro p {
    font-size: 4vw;
    font-weight: 400;
    color: white;
    width: 70%;
    text-align: center;
}

/* Features Styling */

.features {
    color: white;
    width: 100vw;
    display: grid;
    padding: 6.90vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    text-align: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "access" "security" "collab" "any-file" "prod-img" "prod-copy";
    grid-row-gap: 10vw; 
}

.features img {
    width: 24vw;
    margin: 0 auto;
}

.features .feature1 {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: access;
}

.features .feature2 {
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: security;
}

.features .feature3 {
    grid-row: 3;
    -ms-grid-row: 3;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: collab;
}

.features .feature4 {
    grid-row: 4;
    -ms-grid-row: 4;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: any-file;
}

.features .feature5 {
    grid-row: 5;
    -ms-grid-row: 5;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: prod-img;
}

.features .feature6 {
    grid-row: 6;
    -ms-grid-row: 6;
    grid-column: 1;
    -ms-grid-column: 1;
    grid-area: prod-copy;
}

.features .feature_two {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0;
    text-align: left;
}

.features .feature_two h3,
.features .feature_two p,
.features .feature_two a {
    text-align: left;
}

.features .feature_two a {
    text-decoration: underline;
    font-size: 4vw;
    padding-right: 6vw;
    color: hsl(176, 68%, 64%);
    background-image: url(../images/icon-arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}

.features .feature_two img{
    width: 100%;
}


/* Testimonials Styling */
.testimonials {
    position: relative;
    width: 100%;
    display: grid;
    display: -ms-grid;
    padding: 6.9vw;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    text-align: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "quote_a" "quote_b" "quote_c";
    row-gap: 10vw;
}

.testimonials .quote-mark {
    position: absolute;
    left: 10vw;
    top: 1vw;
    width: 10vw;
}

.testimonial {
     background-color: hsl(219, 30%, 18%);
     border-radius: 20px;
     -webkit-box-shadow: 5px 5px 10px 3px hsl(216, 53%, 9%);
     box-shadow: 5px 5px 10px 3px hsl(216, 53%, 9%);
     padding: 8vw;
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
}

.testimonial img {
    width: 6.4vw;
    -webkit-clip-path: circle(3.2vw at 3.2vw 3.2vw); 
    clip-path: circle(3.2vw at 3.2vw 3.2vw); /*changes picture shape to circle*/
}

.testimonial p {
    text-align: left;
}

.feature7 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: quote_a;
}

.feature8 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1;
    grid-area: quote_b;
}    

.feature9 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-row: 3;
    grid-column: 1;
    grid-area: quote_c;
}

.profile {
    display: grid;
    justify-content: start;
    align-items: center;
    text-align: left;
    grid-template-columns: 6.4vw 44vw;
    grid-template-areas: "en-pic en-name" "en-pic en-role";
    grid-row-gap: 0.5vw;
    column-gap: 3vw;
    color: white;
}

.profile .endorser {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: en-name;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.profile .job-title {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: en-role;
    font-family: 'Open Sans', sans-serif;
}

/* Testimonial picture */ 
.profile .profile-image {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row-span: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    grid-area: en-pic;
}

/* Sign-in form styling */

.sign_in {
    width: 94vw;
    margin-left: 50vw;
    position: absolute;
    left: -47vw;
    text-align: center;
    padding: 4vw;
    z-index: 999;
    background-color: hsl(217, 28%, 15%);
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 3px hsl(216, 53%, 9%);
    box-shadow: 5px 5px 10px 3px hsl(216, 53%, 9%);
}

.sign_in input[type=submit],
.sign_in input[type=text]{
    border-radius: 200px;
    width: 75vw;
    height: 13.3vw;
    display: block;
    margin: 0 auto 4vw auto;
    border: 0;
}

/* Footer Styles */

footer {
    width: 100vw;
    height: 250vw;
    background-color: hsl(216, 53%, 9%);
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding: 62vw 5.333vw 12.8vw 5.333vw;
    margin: 32vw auto 0 auto;
}


/* Attribution */

.attribution {
      font-size: 11px;
      text-align: center;
    }
.attribution a {
      color: hsl(228, 45%, 44%);
    }