@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black !important;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', cursive;
}
/* Page Layout */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 /*60px*/;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    background-color: hsl(218, 28%, 13%);
}

/* Header */
.header {
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;

}

header #logo {
    padding: 0 30px;
}

#logo img {
    padding: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 30px;
}
nav li a {
    color: white;
}




/* Main Content Sections */

main {
    grid-area: main;
}

.hero {
    display: flex;
    justify-content: center;
    max-height: 550px;
}
#hero_photo {
    padding: 20px;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 40px 0;
}
.content1 h1  {
    width: 600px;
    font-size: 30px;
    text-align: center;
}

.content1 p {
    width: 500px;
    text-align: center;
    margin: 10px;
}

.content1 button {

}

.content2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin: 40px 0;
}

.feature-card {
    flex: 0 1 50%;
    
}

.content3 {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.testimonials .quotes {
    height: 10%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Footer */

footer {
    grid-area: footer;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    background-color: hsl(216, 53%, 9%);
    padding: 20px 0;
    color: #fff;
}
#footer_container {
    display: flex;
    justify-content: space-between;
}

footer p {
    width: 200px;
}