/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

img {
    display: block;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;;
}

ul,
li,
a {
    font-family: 'Open Sans', sans-serif;
}
 
/* Page Content */

.container {
    max-width: 720px;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "main"
        "footer";
    grid-row-gap: 10px;
}

/* Header and Navigation */
header {
    width: 100vw;
    padding-bottom: 1px;;
}

header nav {
    width: 100%;
    height: 19vw;
    padding: 2vw 8vw;
}

.header_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color :hsl(216, 53%, 9%);
    background-image: url(../images/bg-curvy-mobile.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 182vw;
    padding-bottom: 1px;
    z-index: -1;
    
}

/* Navbar using flexbox */
.navbar {
    font-size: 18px;
    border: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 10px;
}

.main_nav {
    list-style-type: none;
    display: none;
}

.main_nav li {
    text-align: right;
    margin: 15px auto;
   
}

span .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav_links a {
    text-decoration: none;
    color: white;
}

.nav_links a:hover,
.nav_links a:focus {
    color: hsl(198, 60%, 50%);
}

/* Toggle Button */
.navbar-toggle {
    position: absolute;
    top: 10px;
    left: 82vw;
    padding: 2vw 0;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}