/* Mobile First Design */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


* {
    outline: 1px solid black;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    
}

body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    max-width: 719px;
    margin: 0 auto;
    padding: 0 auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}


/* Navbar Styling */

.navbar {
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.mobile-nav {
    list-style-type: none;
    display: none;
}

.nav-links, 
.logo {
    text-decoration: none;
}

.mobile-nav li {
    text-align: right;
    margin: 15px auto;
    padding-right: 30px;
}

.mobile-nav a {
    color: white;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}
    .logo:hover, 
    .nav-links:hover {
        color: rgb(0, 153, 255);
    }

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
}

.active {
    display: block;
}

/* Header Styles */

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color:;
    background-image: url(../images/bg-curvy-mobile.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
    background-image: url(../images/bg-curvy-mobile.svg), -webkit-gradient(linear, left top, left bottom, color-stop(68%, #1c2431), color-stop(68%, #181f2b));
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 181.65vw;
    padding-bottom: 1px;
    z-index: -1;
}

header {
    background-color:;
}

/* Footer Styles */

.attribution {
      font-size: 11px;
      text-align: center;
    }
.attribution a {
      color: hsl(228, 45%, 44%);
    }