/* Media Queries for Fylo Landing Page */

@media (min-width: 720px){
    .container {
        max-width: 1440px;
    }
    h1 {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 2vw;
    }
    h3 {
        font-size: 2.2vw;
    }
    p {
        font-size: 1.5vw;
    }
    .btn-cyan-blue {
        font-size: 1vw;
        width: 19.5vw;
        padding: 1vw 0;
    }

}

/* Header and Navigation */

@media screen and (min-width: 720px){
    header nav {
        height: 12vw;
        margin-top: 10px;
        padding: 0 5vw;
    }
    header nav ul {
        display: flex;
        width: 21vw;
    }
    header nav ion-icon.close {
        display: none;
    }
    header img.intro,
    header h1,
    header p {
        width: 50vw;
        margin: 3vw auto 0 auto;
    }
    header p {
        width: 41vw;
    }
    header a {
        margin: 3vw auto;
    }
     
}

@media screen (min-width: 720px) {
    .header_bg {
        background-image: url(../images/bg-curvy-desktop.svg), linear-gradient(to bottom, #1c2431 73%, #181f2b 73%);
        background-position: 0 60%;
        height: 80vw;
    }
}



@media screen and (min-width: 720px) {
   nav .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main_nav {
        float: right;
        display: flex;
        width: 400px;
        margin-top: 60px;
        margin-right: 30px;
        flex-direction: row;
        justify-content: space-between;

    }
    .main_nav li {
        margin: 0;
        font-size: 1.1vw;
    }
    .nav_links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 50px;
    }
    .navbar-toggle {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    section.main_features {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:           "access security"
            "collab any-file"
            "prod-img prod-copy"
            "prod-img prod-copy";
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }
    section.main_features .feature-left {
        margin-left: 10vw;
    }
    section.main_features .feature-right {
        margin-right: 10vw;
    }
    section.main_features img {
        width: 6.96vw;
    }
    section.main_features .second-feature a {
        font-size: 1.5vw;
        padding-right: 3vw;
    }
    section.main_features .second-feature h3 {
        font-size: 2.8vw;
        width: 25vw;
    }
}

@media screen and (min-width: 720px) {
    section.testimonials {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "quote_a quote_b quote_c";
        column-gap: 4vw;
        row-gap: 4vw;
    }
    section.testimonials .quotemark {
        left: 5vw;
        top: 5vw;
        width: 5vw;
    }
    .testimonial {
        padding: 2vw;
    }
    .testimonial img {
        width: 1.9vw;
        clip-path: circle(1vw at 1vw 1vw);
        -webkit-clip-path: circle(1vw at 1vw 1vw);
    }
    .profile {
        grid-template-columns: 1.94vw 9vw;
        font-size: .7vw;
        column-gap: .7vw;
    }
    
}

@media screen and (min-width: 720px) {
    .contact_form {
        width: 66vw;
        left: -33vw;
    }
    .contact_form input[type=submit],
    .contact_form input[type=text] {
        width: 14vw;
        height: 3.4vw;
        display: inline-block;
        margin: 2vw auto 0 auto;
    }
    .contact_form input[type=text] {
        width: 33vw;
        padding-left: 3vw;
        font-size: 1.2vw;
    }
}


@media screen and (min-width: 720px) {
    footer {
        height: 39vw;
        padding: 13vw 8vw 8.5vw 8vw;
        margin: 15vw auto 0 auto;
    }
    footer .footer_columns {
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
    }
    footer .footer_col {
        flex-basis: 365px;
    }
    footer ul {
        padding-left: 25%;
        font-size: 1.1vw;
    }
    footer li {
        margin-bottom: 1.5vw;
    }
    footer p {
        padding-left: 2.9vw;
        font-size: 1.1vw;
    }
    footer p.address {
        background-size: 0.97vw;
    }
    footer p.telnumber {
        background-size: 1.5vw;
    }
    footer p.email {
        background-size: 1.5vw;
    }
    footer .footer_nav2 ul {
        margin-top: 1.1vw;
        padding-left: 0;
    }
    footer .contact,
    footer .footer_nav2 {
        padding-bottom: 0;
    }
}