/* Media Queries for Fylo Landing Page */

@media (min-width: 720px){
    .container {
        max-width: 1440px;
    }
    h1 {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 2vw;
    }
    h3 {
        font-size: 2.2vw;
    }
    p {
        font-size: 1.5vw;
    }

}

/* Header */
@media (min-width: 720px){
    .header-bg {
        background-image: url(../images/bg-curvy-desktop.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
        background-image: url(../images/bg-curvy-desktop.svg), -webkit-gradient(linear, left top, left bottom, color-stop(68%, #1c2431), color-stop(68%, #181f2b));
        background-position: 0 60%;
        height: 80.8vw;
    }
    .navbar {
        height: 12vw;
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar ul {
        display: flex;
        width: 21vw;
    }
    .navbar ul li {
        font-size: 1vw;
    }
    .navbar-toggle {
        display: none;
    }
    .intro_image {
        width: 50vw;
        margin: 3vw auto 0 auto;
    }
    .intro h1 {
        width: 50vw;
    }
    .intro p {
        width: 40vw;
    }
   
}

