/* Media Queries for Fylo Landing Page */

/* Page Content */


/* Navbar */

@media screen and (min-width: 720px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .mobile-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .mobile-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
    .navbar-toggle {
        display: none;
    }
    .logo:hover, 
    .nav-links:hover {
        color: rgb(0, 153, 255);
    }
}

/* Header */
@media screen and (min-width: 720px) {
    .header-bg {
        background-image: url(../images/bg-curvy-desktop.svg),linear-gradient(to bottom, #1c2431 68%, #181f2b 68%);
        background-image: url(../images/bg-curvy-desktop.svg), -webkit-gradient(linear, left top, left bottom, color-stop(68%, #1c2431), color-stop(68%, #181f2b));
        background-position: 0 60%;
        height: 80.845vw; 
    }
}